body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f8ff;
}

h1 {
  color: #005f73;
}

#peixeInput {
  padding: 10px;
  width: 300px;
}

#resultado {
  margin-top: 20px;
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
}
